@use "./utils";

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;

  .navbar {
    background-color: #fff;
  }
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;

  .navbar {
    background-color: #23282c;
  }

  .nav-item {
    color: white;
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4.5em;
 
  .logo {
    margin-right: auto;
  }

  .nav-item {
    text-decoration: none;
    margin-left: 4em;
    font-size: 24px;
  }

  .toggle {
    margin-left: 4em;
  }
}

.toggle-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1.25em;
}


.content {
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.3em;

  h1 {
    font-size: 2rem;
  }

  img {
    width: 100%;
  }

  code {
    background-color: #cbe9ff;
    border-radius: 2px;
    font-size: 1em;
    padding: 0 5px;
  }

  a {
    text-decoration: none;
    color: #006688;
  }

  button {
    color: #006688;
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
  }
}

body.dark-mode .content code {
  background-color: #1b2938;
}

body.dark-mode .content a {
  color: #ee09;
}

body.dark-mode .content button {
  color: #ee09;
}

