@use "./utils";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#root .row.header {
  flex: 0 1 auto;
}

#root .row.content {
  flex: 1 1 auto;
}

#root .row.footer {
  flex: 0 1 40px;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;

  .logo-font {
    color: black;
  }

  .navbar {
    background-color: #fff;
  }

  .MuiAppBar-colorPrimary {
    color: #000 !important;
    background-color: #fff !important;
  }

  .makeStyles-icon-2 {
    color: #000 !important;
  }
}

.nav-drawer {
  display: flex;
  align-items: center;

  .logo {
    margin-right: auto;
  }
}

body.dark-mode {
  background-color: #10171d;
  color: #dfdfdf;

  .navbar {
    background-color: #23282c;
  }

  .footer {
    background-color: #23282c;
  }

  .nav-item {
    color: white;
  }

  .logo-font {
    color: white;
  }

  .MuiAppBar-colorPrimary {
    color: #fff !important;
    background-color: #23282c !important;
  }

  .MuiPaper-root {
    background-color: #23282c !important;
  }

  .makeStyles-link-1 {
    color: #fff !important;
  }


}

.nav-drawer {
  .logo {
    margin-right: auto;
  }

  .drawer-toggle {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }

  padding-left: 12px;

  .logo-font {
    font-family: "FloodStd", sans-serif;
    text-decoration: none;
    font-size: 24px;
  }
}

.nav-container {
  position: relative;
  height: 4.5em;

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
  }

  .nav-item {
    text-decoration: none;
    margin-left: 3em;
    font-size: 24px;
  }

  .toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-img {
    height: 3em;
  }

  .logo-font {
    font-family: "FloodStd", sans-serif;
    text-decoration: none;
    font-size: 32px;
  }

  .logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: inherit;
  }
}

.toggle-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1.25em;
}

.container {
  margin: 0 300px;
  margin-top: 60px;
  max-width: 600px;
  font-size: 20px;
  line-height: 1.3em;

  h1 {
    font-size: 3rem;
  }

  img {
    width: 100%;
  }

  code {
    background-color: #cbe9ff;
    border-radius: 2px;
    font-size: 1em;
    padding: 0 5px;
  }

  a {
    text-decoration: none;
    color: #006688;
  }

  button {
    color: #006688;
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0;
  }
}

body.dark-mode .content code {
  background-color: #1b2938;
}

body.dark-mode .content a {
  color: #ee09;
}

body.dark-mode .content button {
  color: #ee09;
}

.row.content {
  display: flex;
  flex-direction: column;

}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 36px;
    text-transform: uppercase;
  }

  p {
    font-size: 24px;
  }

}

.row.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

@media only screen and (max-width: 576px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 576px) {
  // do something again
}